html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.rotate {
    animation: rotation 2s infinite linear;
}

.hypno {
    height: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}